.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

:root {
  --main-fond: "Roboto", sans-serif;
  --secondary-fond: "Raleway", sans-serif;
  --grey-text-cl: #757575;
  --black-text-cl: #212121;
  --white-text-cl: #ffffff;
  --white-bg-cl: #e5e5e5;
  --team-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
  --icon-bg-cl: #fff;
  --transition-bg-cl: #188CE8;
  --accent-tx-cl: #2196f3;
  --border-cl: #ececec;
  --icons-cl: #AFB1B8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 4;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: var(--main-fond);
  color: var(--grey-text-cl);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    gap: 30px;
  }
}

.item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  /*outline: 1px solid teal;*/
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: var(--black-text-cl);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.register-form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--black-text-cl);
}
.register-form__group {
  margin-bottom: 20px;
}
.register-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.register-form__wrap:last-child {
  margin-bottom: 0;
}
.register-form__label {
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--grey-text-cl);
}
.register-form__input, .register-form__message {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.register-form__wrap:hover .register-form__icon, .register-form__wrap:focus .register-form__icon {
  fill: var(--accent-tx-cl);
  border-color: #2196f3;
}
.register-form__message {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.register-form__wrap:hover .register-form__message, .register-form__wrap:focus .register-form__message {
  fill: var(--accent-tx-cl);
  border-color: #2196f3;
}
.register-form__wrap:hover .register-form__input, .register-form__wrap:focus .register-form__input {
  border-color: var(--accent-tx-cl);
}
.register-form__input:hover, .register-form__input:focus {
  border-color: var(--accent-tx-cl);
}
.register-form__input:hover + .register-form__icon, .register-form__input:focus + .register-form__icon {
  fill: var(--accent-tx-cl);
}
.register-form__message:hover, .register-form__message:focus {
  border-color: var(--accent-tx-cl);
}
.register-form__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
  cursor: pointer;
}
.register-form__checkbox:checked + .register-form__icon--check .register-form__uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}
.register-form__checkbox:checked + .register-form__icon--check .register-form__check {
  opacity: 1;
}
.register-form__checkbox:hover + .register-form__icon--check .register-form__uncheck, .register-form__checkbox:focus + .register-form__icon--check .register-form__uncheck {
  fill: var(--accent-tx-cl);
}
.register-form__check {
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}
.register-form__agreement--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-underline-position: under;
}
.register-form__agreement--link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-tx-cl);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3) rotate(120deg);
          transform: translate(-50%, -50%) scale(0.3) rotate(120deg);
}

.btn-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--icon-bg-cl);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--accent-tx-cl);
  border: 1px solid var(--accent-tx-cl);
}

.register-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  max-width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: var(--accent-tx-cl);
  color: var(--icon-bg-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.register-form-btn:hover,
.register-form-btn:focus {
  background-color: var(--transition-bg-cl);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-cl);
  background-color: var(--accent-tx-cl);
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.btn:hover,
.btn:focus {
  background-color: var(--transition-bg-cl);
}

.btn__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  margin-right: 10px;
}

.btn__icon {
  fill: var(--icon-bg-cl);
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--black-text-cl);
  background-color: var(--team-bg-cl);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.filter-btn:hover,
.filter-btn:focus,
.accent-btn {
  color: var(--white-text-cl);
  background-color: var(--accent-tx-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  min-width: 450px;
  min-height: 609px;
  background: var(--icon-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  color: var(--black-text-cl);
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 21px;
    padding-bottom: 21px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link--current {
  position: relative;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-tx-cl);
}
.nav__link--email:hover, .nav__link--email:focus {
  color: var(--accent-tx-cl);
}
.nav__link--tel:hover, .nav__link--tel:focus {
  color: var(--accent-tx-cl);
}
.nav__link--email:hover .nav__icon, .nav__link--email:focus .nav__icon {
  fill: var(--accent-tx-cl);
}
.nav__link--tel:hover .nav__icon, .nav__link--tel:focus .nav__icon {
  fill: var(--accent-tx-cl);
}
.nav__accent--color {
  color: var(--accent-tx-cl);
}
.nav__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .nav__contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__contact {
    padding-top: 21px;
    padding-bottom: 21px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link--email {
  padding-top: 21px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .nav__link--email {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link--tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__icon {
  margin-right: 10px;
  fill: var(--grey-text-cl);
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--icon-bg-cl);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.social__icon {
  fill: var(--icons-cl);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-tx-cl);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--icon-bg-cl);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}
.menu-overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100%;
  background-color: var(--icon-bg-cl);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}
.menu-conteiner.is-hidden .menu-conteiner {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-btn-open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.menu-btn-open:hover, .menu-btn-open:focus {
  fill: var(--accent-tx-cl);
}
@media screen and (min-width: 767px) {
  .menu-btn-open {
    display: none;
  }
}

.menu-btn-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: var(--icon-bg-cl);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.menu-btn-close:hover, .menu-btn-close:focus {
  fill: var(--accent-tx-cl);
}
@media screen and (min-width: 767px) {
  .menu-btn-close {
    display: none;
  }
}

.mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-top: auto;
}

.mobile-list-contact:nth-child(3) {
  margin-bottom: 64px;
}

.mobile-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--black-text-cl);
}

.tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-tx-cl);
}

.email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--grey-text-cl);
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-tx-cl);
}

.mobile-social-item:not(:last-child) .mobile-social-link::after {
  content: "";
  display: block;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.about__item {
  position: relative;
  --items: 3;
}
.about__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 70px;
  padding: 27px;
  bottom: 0;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
}
.about__text {
  font-size: 14px;
  line-height: 1.1428571429;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: var(--icon-bg-cl);
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}
.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__conteiner {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 70px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__logo {
  display: block;
  text-align: center;
  font-family: var(--secondary-fond);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-tx-cl);
  padding-top: 60px;
  margin-bottom: 160px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 20px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-right: 93px;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 20px;
  }
}
.footer__logo--white {
  color: var(--white-text-cl);
}
.footer__address {
  font-style: inherit;
}
@media screen and (min-width: 768px) {
  .footer__address {
    padding-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    padding-left: 0;
  }
}
.footer__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item {
    margin-bottom: 9px;
  }
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__link {
  display: block;
  text-align: center;
  color: var(--white-text-cl);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
@media screen and (min-width: 1200px) {
  .footer__link {
    margin-bottom: 9px;
    text-align: start;
  }
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-tx-cl);
}
.footer__contact {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    text-align: start;
  }
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--accent-tx-cl);
}
.footer__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--icon-bg-cl);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.footer .social__icon {
  fill: var(--icon-bg-cl);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-tx-cl);
}

.footer-box {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-box {
    margin-right: 0;
  }
}

.footer-form {
  text-align: center;
}
.footer-form__conteiner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form__conteiner {
    gap: 12px;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}
.footer-form__wrap {
  position: relative;
}
.footer-form__input {
  width: 450px;
  height: 50px;
  padding-left: 15px;
  color: var(--border-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .priority {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .priority__item {
    --item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .priority__item {
    --item: 4;
  }
}
.priority__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: var(--team-bg-cl);
}
@media screen and (min-width: 768px) {
  .priority__conteiner {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .priority__conteiner {
    width: 270px;
  }
}
.priority__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-text-cl);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .priority__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .priority__title {
    letter-spacing: 0.03em;
    margin-bottom: 4px;
  }
}

.header {
  border-bottom: 1px solid var(--border-cl);
}
@media screen and (min-width: 1200px) {
  .header {
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    margin-right: 93px;
  }
}
.header__conteiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (min-width: 1200px) {
  .header__conteiner {
    height: auto;
  }
}
.header__logo {
  font-family: var(--secondary-fond);
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-tx-cl);
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.1923076923;
    margin-right: 93px;
  }
}
.header__logo--black {
  color: var(--black-text-cl);
}

.hero {
  position: relative;
  padding-top: 118px;
  padding-bottom: 118px;
  background: #C4C4C4;
  color: var(--white-text-cl);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-cl);
  margin-bottom: 30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 700px;
  }
}
.hero__bg-img {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1_sm.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1_sm.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__bg-img {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-2x_sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-2x_sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__bg-img {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-1_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__bg-img {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-2x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-2x_md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__bg-img {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-1_lp.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1_lp.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__bg-img {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-2x_lp.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-2x_lp.jpg);
  }
}

.team {
  background-color: var(--team-bg-cl);
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-text-cl);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.team__item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 1199px) {
  .team__item {
    --items: 2;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    --item: 4;
  }
}
.team__wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--icon-bg-cl);
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--black-text-cl);
  margin-bottom: 10px;
}
.team__post {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
}

.clients__list {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__item {
  --items: 2;
}
@media screen and (min-width: 768px) {
  .clients__item {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    --items: 6;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  border: 1px solid var(--icons-cl);
  border-radius: 4px;
  padding: 16px;
  fill: var(--icons-cl);
  -webkit-transition: border-color var(--transition), fill var(--transition);
  transition: border-color var(--transition), fill var(--transition);
}
@media screen and (min-width: 768px) {
  .clients__link {
    max-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    max-width: 170px;
  }
}
.clients__link:hover {
  border-color: var(--accent-tx-cl);
  fill: var(--accent-tx-cl);
}
.clients__link:focus {
  border-color: var(--accent-tx-cl);
  fill: var(--accent-tx-cl);
}

.portfolio__item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    --items: 3;
  }
}
.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio .thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.portfolio .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}
.portfolio .overlay-text {
  font-size: 18px;
  line-height: 1.5555555556;
  padding: 63px 24px;
  color: var(--icon-bg-cl);
}
.portfolio__wrapper {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text-cl);
  margin-bottom: 4px;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.875;
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio-filter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=main.css.map */