:root {
    --main-fond: "Roboto", sans-serif;
    --secondary-fond: "Raleway", sans-serif;
    --grey-text-cl: #757575;
    --black-text-cl: #212121;
    --white-text-cl: #ffffff;
    --white-bg-cl: #e5e5e5;
    --team-bg-cl: #f5f4fa;
    --dark-bg-cl: #2f303a;
    --icon-bg-cl: #fff;
    --transition-bg-cl: #188CE8;
    --accent-tx-cl: #2196f3;
    --border-cl: #ececec;
    --icons-cl: #AFB1B8;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --indent: 30px;
    --items: 4;
  }