.portfolio {


    &__item {
        position: relative;

        @media screen and (min-width: 768px) {
          --items: 2;
        }
        @media screen and (min-width: 1200px) {
        --items: 3;
      }
    }

      &__link {
        display: flex;
        flex-direction: column;
        transition: box-shadow var(--transition);
        transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
      }

      &__link:hover,
      &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }

      & .thumb {
        position: relative;
        overflow: hidden;
      }

      &__link:hover .overlay,
      &__link:focus .overlay {
        transform: translateY(-100%);
      }

      & .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(0);
        transition: transform var(--transition);
      }

      & .overlay-text {
        font-size: 18px;
        line-height: 1.5555555556;
        padding: 63px 24px;
        color: var(--icon-bg-cl);
      }

      &__wrapper {
        padding: 20px 24px;
        border-bottom: 1px solid #eeeeee;
      }

      &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36 / 18);
        letter-spacing: 0.06em;
        color: var(--black-text-cl);
        margin-bottom: 4px;
      }

      &__text {
        font-size: 16px;
        line-height: calc(30 / 16);
      }
}