.card-set {

    display:flex;
    flex-direction: column;
    gap: 30px;
   
     
      @media screen and (min-width: 768px) {
        display:flex;
        flex-wrap: wrap;
        flex-direction: unset;
        gap: 30px;
       }
    }

  .item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    /*outline: 1px solid teal;*/
  }